body {
    font-family: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    z-index: 3;
}

.grad {
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to right, var(--color-blue-nav), var(--color-purple-nav), var(--color-blue-nav));
    text-decoration: none;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    word-spacing: 5px;
    font-size: 18px;
}

.grad:hover {
    color: var(--color-gray-grad-hover);
}

nav {
    background-color: var(--color-gray-nav);
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.color {
    background-color: var(--color-blue-nav);
}

.container {
    display: flex;
    margin: auto;
    width: 1160px;
    justify-content: space-between;
    align-items: center;

}

nav ul a:hover,
.github-link:hover {
    color: var(--color-gray-nav-hover)
}

nav .nav-list a {
    padding: 24px 20px;

}

nav a {
    color: var(--color-white);
    list-style-type: none;
    text-decoration: none;
}

.github-logo {
    margin-right: 8px;


}

nav .github-link {
    display: flex;
    align-items: center;
}

header .nav-list li {
    display: flex;
}

header .nav-list {
    display: flex;
}

.cover {
    background-color: var(--color-main-background);
    display: flex;
    padding-top: 7rem;
    padding-bottom: 11rem;
}


main h1 {
    font-size: 70px;
    margin: 0;
}

main .head1 {
    color: var(--color-white);
    font-size: 72px;
}


main p {
    color: rgb(198, 198, 198);
    font-size: 20px;
    max-width: 618px;
    line-height: 30px;
    margin-bottom: 40px;
}

main .buttons {
    display: flex;
}

main .community-button {
    text-decoration: none;
    text-align: center;
    line-height: 64px;
    width: 230px;
    height: 64px;
    color: var(--color-white);
    background-color: var(--color-blue-button);
    border-radius: 150px;
    display: inline-block;
    margin-right: 20px;
    font-weight: 700;
    font-size: 18px;



}

main .community-button:focus {
    background-color: var(--color-blue-focus-button);

}

main .community-button:hover {
    background-color: var(--color-blue-gradiant);

}

main .github-button {
    text-decoration: none;
    text-align: center;
    line-height: 64px;
    width: 164px;
    height: 64px;
    color: var(--color-white);
    background-color: var(--color-gray-button);
    border-radius: 150px;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

main .github-button:focus {
    background-color: var(--color-gray-focus-button);
}

main .github-button:hover {
    background-color: var(--color-gray-hover-button);
}


main video {
    width: 100%;

}

.main {
    width: 70%;
}


.gradient-text {
    background-image: linear-gradient(90deg, var(--color-blue-gradiant), var(--color-light-blue-gradiant));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 72px;
}

.diamond-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 30%;


}

.shadow {
    background-image: url(https://ton.org/_next/static/media/d_shadow.3239ad6b.png);
    background-size: cover;
    width: 262px;
    height: 70px;
    z-index: 2;
}



.diamond-background-gradient {
    width: 690px;
    height: 690px;
    position: absolute;
    top: -200px;
    background: radial-gradient(circle, rgba(60, 187, 251, .3) 0, rgba(60, 187, 251, .221) 13.11%, rgba(60, 187, 251, .162) 23.46%, rgba(60, 187, 251, .115) 32.43%, rgba(60, 187, 251, .083) 38.985%, rgba(60, 187, 251, .058) 44.85%, rgba(60, 187, 251, .038) 50.37%, rgba(60, 187, 251, .023) 55.338%, rgba(60, 187, 251, .013) 59.409%, rgba(60, 187, 251, .006) 62.79%, rgba(60, 187, 251, .002) 65.688%, rgba(60, 187, 251, .001) 67.758%, rgba(60, 187, 251, 0) 69%);
    z-index: 1;
}


section .section2 {
    display: flex;
    flex-direction: column;
}

section .title {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    text-align: center;
    max-width: 580px;
}

section .title h2 {
    padding: 0px 20px 16px 20px;
}

section .title p {
    padding: 0px 20px 64px 20px;
}

section h2 {
    font-size: 56px;
    font-weight: 700;
    margin: 0px;

}

section p {
    color: var(--color-gray-section-p);
    font-size: 20px;
    margin: 0px;

}

.padding-boxes {
    padding: 0px 20px;
}

.wallet-icons2 {
    position: absolute;
    right: -25px;
    color: var(--color-gray-icons-boxes);
    bottom: 10px;
}

.wallet-icons {
    position: absolute;
    right: -40px;
    color: var(--color-gray-icons-boxes);
    bottom: 10px;

}

.boxes {
    overflow: hidden;
    width: 312px;
    height: 92px;
    padding: 28px 24px;
    background-color: var(--color-gray-boxes);
    display: flex;
    border-radius: 24px;
    flex-direction: column;
    text-align: left;
    position: relative;
}

.boxes-value {
    font-size: 20px;
    padding-bottom: 16px;
}

.counter {
    font-size: 40px;
    font-weight: 600;
}

.step1 {
    display: flex;
    max-width: 1160px;
    justify-content: space-between;


}

.step2 {
    display: flex;
    margin: auto;
    width: 1160px;
    padding: 64px 100px;
    background-color: var(--color-gray-boxes);
    border-radius: 64px;
    position: relative;


}

.ton-box {
    width: 37PX;
    border: 1px solid var(--color-ton-box-border);
    padding: 3px 11px;
    font-size: 18px;
    color: var(--color-ton-box-border);
    border-radius: 8px;

}

.content p {
    line-height: 30px;
    margin-top: 16px;

}

.coins-img {
    width: 52%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 48%;
    padding-bottom: 64px;

}

.coins {
    width: 100%;
}

.section2-links a {
    font-weight: 700;
    padding-right: 18px;
    margin-top: 32px;
    display: inline-block;
    font-size: 18px;
    line-height: 32px;
    color: var(--color-blue-section2-links);
    list-style-type: none;
    text-decoration: none;

}

.section2-links a:hover {
    color: var(--color-blue-button)
}

.container2 {
    display: flex;
    margin: auto;
    width: 1160px;
    align-items: center;
    flex-direction: column;

}

.padding-c.container2 {
    padding: 100px 0px;
}





.section3 {
    padding: 140px 0px;
}

.container3 {
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 1160px;
}

.section3-content {
    display: flex;
    justify-content: space-between;
}

.ton-timeline {
    width: 30%;
    font-weight: 400;
    padding: 36px 0px 0px 0px;
}

.ton-timeline a:hover {
    color: var(--color-blue-button)
}

.timeline {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.section3 p {
    line-height: 30px;
    margin-top: 16px;
}

.section3-content a {
    font-weight: 700;
    margin-top: 24px;
    display: inline-block;
    font-size: 18px;
    line-height: 32px;
    color: var(--color-blue-section2-links);
    list-style-type: none;
    text-decoration: none;
}






/*  */

/* .section3-content::before{
    position: absolute;
    top: 0;
    left: 20px;
    display: block;
    width: calc(100% - 32px);
    height: 2px;
    content: "";
    background-color: rgb(44, 195, 255);
}
.section3-content::after{
    position: absolute;
    top: -4px;
    left: 20px;
    display: block;
    width: 8px;
    height: 8px;
    content: "";
    border-radius: 50%;
    background-color: blue;
}
.after::after{
    position: absolute;
    top: 0;
    left: calc(66.6666666667% + 20px);
    display: block;
    width: 100vw;
    height: 2px;
    margin-left: 15px;
    content: "";
    background-image: url(data:image/svg+xml,%3Csvg width='728' height='2' viewBox='0 0 728 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M728 1L1.00002 1' stroke='%230088CC' stroke-opacity='0.1' stroke-width='2' stroke-linecap='round' stroke-dasharray='20 20'/%3E%3C/svg%3E%0A);
}
.section3-content::after{
    position: absolute;
    top: 0;
    left: calc(66.6666666667% + 20px);
    display: block;
    width: 100vw;
    height: 2px;
    margin-left: 15px;
    content: "";
    background-image: url(data:image/svg+xml,%3Csvg width='728' height='2' viewBox='0 0 728 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M728 1L1.00002 1' stroke='%230088CC' stroke-opacity='0.1' stroke-width='2' stroke-linecap='round' stroke-dasharray='20 20'/%3E%3C/svg%3E%0A);
} */
/*  */









.section4-content {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.wallets-img {
    width: 40%;
}

.wallets-img img {
    width: 100%;
}

.section4-content p {
    margin-top: 16px;
    line-height: 30px;
}

.section4-content h2 {
    line-height: 64px;
}

.blue-button a {
    text-decoration: none;
    text-align: center;
    line-height: 64px;
    height: 64px;
    color: var(--color-white);
    background-color: var(--color-blue-button);
    border-radius: 150px;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    margin-top: 32px;
}

.learn-more1 {
    width: 163px;
}

.blue-button a:hover {
    background-color: var(--color-blue-gradiant);
}







section .section2 {
    display: flex;
    flex-direction: column;
}

.title2 {
    text-align: center;

}

section .title2 h2 {
    padding: 0px 20px 16px 20px;
}

section .title2 p {
    padding: 0px 64px 32px 64px;
}

.section5 .blue-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.section5 .blue-button {
    display: flex;
    justify-content: center;
}

.blue-button img {
    margin: 8px;
}

.learn-more2 {
    width: 200px;
    background-color: var(--color-blue-button);
}

.section5-flex {
    display: flex;
    flex-direction: column;
}





.gray-background {
    height: 94%;
    width: 20%;
    background-color: var(--color-gray-boxes);
    z-index: -1;
    position: absolute;
    align-items: center;
    top: 3%;
    left: 27%;
    border-radius: 20px;
}

.table {
    padding: 40px 64px;
    border: 1px solid var(--color-ton-box-border);
    border-radius: 28px;
    margin-top: 48px;
    position: relative;
}

.table-row {
    display: flex;
    width: 1030;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
    align-items: center;
}

.mar {
    margin-bottom: 32px;
}

.table-row.nazok {
    height: 30px;
}

.table-column {
    display: flex;
    flex-direction: column;
    height: 53%;


}

.table img {
    height: 100%;
}

.height {

    display: flex;
    flex-direction: column;
    width: 26%;
    height: 100%;
}

.height.dd {
    width: 22%;
}

.width {
    height: 106px;
    width: 1030px;
    margin-bottom: 20px;

}


.logo-name {
    display: flex;
    height: 47%;
    justify-content: center;
    font-weight: 600;
    line-height: 50px;


}

.table-inside {
    text-align: center;
    width: 25%;
    justify-content: center;
    padding: 0px 15px;

}

.column1 {
    font-weight: 600;
    width: 25%;

}

.table a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table a svg {
    width: 20px;
    height: 20px;
}

.table a:hover {
    color: var(--color-blue-hover-table-link);
}

.sup {
    position: relative;
    bottom: .8ex;
    font-size: 60%;
    font-weight: 500;

}

.section5.section5 p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 800px;
    margin-top: 20px;
    color: var(--color-gray-table-p);

}

.section5.section5 p a:visited {

    color: var(--color-gray-table-p);

}

.section5.section5 p a:hover {
    color: var(--color-blue-nav);
}




/* text-underline-offset: 0.3rem; */





.section6 {
    background-image: var(--background_dark_gradient);
}

.section6 h2 {
    color: var(--color-white);
}

.container4 {

    margin: auto;
    width: 1160px;
    align-items: center;
    padding: 80px 0;
}

.section6_head {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section6_head p {
    max-width: 600px;
    color: var(--color-gray-mac-p);
}   
.bb{
    display: flex;
    margin-top: 50px;

}
.bb a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}


.section6_head .blue-button {
    
    text-decoration: none;
    text-align: center;
    line-height: 64px;
    height: 64px;
    color: var(--color-white);
    background-color: var(--color-blue-button);
    border-radius: 150px;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    width: 164px;
}

.github-button{
    text-decoration: none;
    text-align: center;
    line-height: 64px;
    width: 164px;
    height: 64px;
    color: var(--color-white);
    background-color: var(--color-gray-mac-buttom);
    border-radius: 150px;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.mac-window{
    border-radius: 32px;
    overflow: hidden;
    margin-top: 60px;
    box-shadow: 0 4px 24px rgb(0 0 0 / 8%);
}
.mac-window{

}
.mac-window-header{

    background-color: var(--color-mac-nav);
    padding: 24px 40px;

}
.mac-window-header span{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 8px;
    display: inline-block;
}
.s1{
   border-color: var(--color-mac-circle-border-red); 
   background-color: var(--color-mac-circle-background-red);
}
.s2{
    border-color: var(--color-mac-circle-border-yellow); 
    background-color: var(--color-mac-circle-background-yellow);
}
.s3{
    border-color: var(--color-mac-circle-border-green); 
    background-color: var(--color-mac-circle-background-green);
}

.macwindow-body{
    background-color: var(--color-gray-macbackground);
    display: flex;
    padding: 40px 0;
}

.left-nav{
    color: var(--color-white);
    min-width: 250px;
    position: relative;
}
.left-nav::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    content: "";
    border-radius: 2px;
    background-color: hsla(0,0%,100%,0.06);
}
.left-nav div{
    line-height: 52px;
    height: 52px;
    font-size: 18px;
    padding: 0px 16px 0px 40px;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 8px;

}
.macwindow-content h3,.macwindow-content p{
    color: var(--color-white);
}
.macwindow-content{
    padding: 0 46px 92px;
    position: relative;
}
.macwindow-content h3{
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}
.macwindow-content p{
    font-size: 20px;
    line-height: 30px;
    word-spacing: 10px;
    font-family: IBMPlexMono,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.macwindow-content .read-more{
    font-weight: 700;
    margin-top: 24px;
    display: inline-block;
    font-size: 18px;
    line-height: 32px;
    color: var(--color-blue-section2-links);
    text-decoration: none;
}
.previous, .next{
    text-decoration: none;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    color: var(--color-white);
}
.previous{
    margin-right: 600px;
}
.macwindow-content div{
    position: absolute;
    bottom: -10px;
}
.left-nav .active{
    background-color: var(--button_dark_secondary_pressed);
    position: relative;
}
.left-nav .active::before {
    position: absolute;
    top: 0;
    right: 0px;
    display: block;
    width: 2px;
    height: 100%;
    content: "";
    border-radius: 2px;
    background-color: var(--icon_dark_primary);
    transition: opacity .2s ease-in-out;
}






.container5{
    margin: auto;
    width: 1160px;
    align-items: center;
    display: flex;
    padding: 140px 0;
}
.image{
    width: 548px;
    height: 444px;
}
.image img{
    width: 100%;
}
.tel-twi{
    display: flex;
}
.tel-twi a{

        font-weight: 700;
        margin-top: 24px;
        display: inline-block;
        font-size: 18px;
        line-height: 32px;
        color: var(--color-blue-section2-links);
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-right: 25px;
}
.section7 .content{
    padding-right: 40px;
}


.section8-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 1160px;
    padding: 64px 100px;
    background-color: var(--color-gray-boxes);
    border-radius: 64px;
    position: relative;
    }
.section8 p{
    max-width: 580px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 40px;
}

.section8 a{
    text-decoration: none;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-blue-button);
    border-radius: 150px;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    padding: 16px 32px;
    display: flex;

}

.app-images{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1160px;

}
.app-images img{
    width: 110px;
    height: 110px;
    position: absolute;
}

.back{
    background-image: url(./ton/download.svg);
    position: absolute;
    top: 30px;
}
.image-app{
    position: relative;
}









.section9 .container5{
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 1160px;
}


.section9-head{
    text-align: center;
}
.section9-head p{
    max-width: 550px;
    margin-bottom: 70px;
}


.section9 .boxes2{
    display: flex;

}
.boxes2 h6{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 20px;
}
.boxes2 img{
    width: 360px;
    height: 168px;
    border-radius: 24px;
}
.boxes2 .divv{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.boxes2 a{
    font-weight: 700;
    margin-top: 20px;
    display: inline-block;
    font-size: 18px;
    line-height: 32px;
    color: var(--color-blue-section2-links);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.boxes2 p{
    max-width: 300px;
    line-height: 30px;
    margin-top: 5px;
}
.divv div{
    padding: 0 16px;
}





.section10 .container6{
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 1160px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 38px;

}
.footer-top a{
    text-decoration: none;
    color:var(--text_light_secondary);
    font-size: 15px;
    line-height: 30px;
    font-size: 15px;
}
.footer-top h5{
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.footer-top .col{
    width: 151px;
}
.foundation{
    color:var(--text_light_secondary);
}    
.footer-buttom{
    padding: 24px 0 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--footer-line) ;
}

